<div class="center hero-unit" style="height:30px">
<p id="notice"><%= notice %></p>

  <h3><%= @topic.name %>
  <% if @topic.lessons.any? %>
      <h6>Lessons (<%= @topic.lessons.count%>)</h6>
      <table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    
  </tr>
</thead>
        <%= render @lessons %>
        </table>
      <% else %>
      <div class="label" style="margin-top:25px; margin-bottom:25px;">
      <h3>No Lessons</h3>
      </div>
    <% end %>
  </h3>
  <%if current_user.try(:admin?)%>
                     <%= link_to 'Add Lesson', new_lesson_path(:topicid => @topic.id), :class => 'btn btn-large'%> 
<%= link_to 'Edit', edit_topic_path(@topic), :class => 'btn btn-large' %> 
                 <% end %> 

<%= link_to 'Back', Category.find(@topic.category_id), :class => 'btn btn-large' %>
</div>