<p id="notice"><%= notice %></p>
<h3>
  <%= @lesson.name %>
</h3>
<div class="center">
  <iframe width="560" height="349" src="<%= @lesson.video %>"></iframe>
  </div>
  <div class="center" style="margin-top:25px; margin-bottom:25px;">
  	<%if current_user.try(:admin?)%>
                     <%= link_to 'Edit', edit_lesson_path(@lesson), :class => 'btn btn-large' %> 
                 <% end %> 
<%= link_to 'Back', Topic.find(@lesson.topic_id), :class => 'btn btn-large' %>
  </div>
