<div class="center hero-unit">
<h1>Categories</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
</thead>

<% Category.all.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td>Topics(<%= category.topics.count %>)</td>
    <td><%= link_to 'Show', category, :class => 'btn btn-mini' %></td>
    <%if current_user.try(:admin?)%>
                 <td><%= link_to 'Edit', edit_category_path(category), :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-mini btn-danger'%></td>
                 <% end %> 
    
  </tr>
<% end %>
</table>
<%if current_user.try(:admin?)%>
                 <%= link_to 'New Category', new_category_path, :class => 'btn btn-large' %>
                 <% end %> 

</div>
