<!DOCTYPE html>
<html>
  <head>
    <title>Great Tutorials</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%= render 'layouts/header' %>
          
        <div class="container">
          <table class="table table-striped">
      <tr>
      
          <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      
      </tr>
      <tr>
      <%= render 'layouts/footer' %>
      </tr>
       </table>
      </div>
       
      <!--<%= debug(params) if Rails.env.development? %>-->
  </body>
</html>
